extends layout

append body
    .starter-template
        .container
            script(type='text/javascript' src='src/choicesActions.js')
            h1 Gabriel
            p.lead
                | Use this document as a way to quickly start any new project.
                br
                |  All you get is this text and a mostly barebones HTML document.
            select(id="parameterDropDown", name="parameter")
                option(value="" disabled=true selected=true) Parameter
                option(value="temperature") Temperatur
                option(value="oxygen") Oksygen
                option(value="salt") Salt
                option(value="turbidity") Turbiditet
                option(value="fluorescent") Fluorescens
                option(value="airtemperature") Lufttemperatur
            select(id="howMuchDataDropDown" name="howMuchDataDropDown")
                option(value="" disabled=true) How much data
                option(value="allData") All data
                option(value="24hourAverage") Gjennomsnitt døgn
                option(value="weeklyAverage") Gjennomsnitt uke
                option(value="monthlyAverage") Gennomsnitt måned
                option(value="yearlyAverage") Gjennomsnitt år
            input(id="fromDate" type="text" placeholder="Dato fra")
            input(id="toDate" type="text" placeholder="Dato til")
            select(id="depthDropDown", name="depthDropDown" onchange="changedBox('depthFrom','depthTo',id);")
                option(value="" disabled=true selected=true) Dybdetype
                option(value="allDepths") Alle dybder
                option(value="oneDepth") En dybde
                option(value="depthBetween") Dybde mellom
            select(id="depthFrom", name="depthFrom" disabled=true)
                option(value="" disabled=true selected=true) Dybde fra
                -for(var i = 0.5;i<19;i++){
                option(value="#{i}") #{i}
                -}
            select(id="depthTo", name="depthTo" disabled=true)
                option(value="" disabled=true selected=true) Dybde til
                -for(var i = 0.5;i<19;i++){
                option(value="#{i}") #{i}
                -}
            input(id="acceptButton" type="button" value="Accept" onclick="acceptButtonHit();")