extends layout

append body
    link(rel='stylesheet' href='/stylesheets/style.css')
    script(type='text/javascript' src='/javascripts/choicesActions.js')
    script(type='text/javascript' src='/javascripts/file-saver/FileSaver.js')
    script(type='text/javascript' src='/javascripts/clipboard-js/clipboard.js')
    script(type='text/javascript' src='/javascripts/bootstrap-daterangepicker-master/daterangepicker.js')
    script(type='text/javascript' src='/javascripts/bootstrap-daterangepicker-master/moment.min.js')
    link(rel="stylesheet" href='/javascripts/bootstrap-daterangepicker-master/daterangepicker.css')


    script(type='text/javascript' src='//cdn.jsdelivr.net/jquery/1/jquery.min.js')
    script(type='text/javascript' src='//cdn.jsdelivr.net/momentjs/latest/moment.min.js')
    link(rel="stylesheet" href='//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css')

    script(type='text/javascript' src='//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js')
    link(rel="stylesheet" href='//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css')

    .starter-template
        .container
            h1 Ekte data
            p.lead
                | Fyll ut informasjon og trykk på OK
                br
                | Fyll deretter ut ønsket filnavn, og trykk på Last ned
            .section
                .sectionInput
                    +input("text", "fromDate", "HH/DD/MM/YY", "Startdato", "startdato")
                    //input(type='text', name='startdato', value='01/01/2015 - 01/31/2015')
                .sectionInput
                    +input("date", "toDate", "HH/DD/MM/YY", "Sluttdato")
            .select
                select(id="fromHour", name="fromHour")
                    option(value="" disabled=true selected=true) Starttid
                    -for(var i = 0;i<23;i++){
                    option(value="#{i}") #{i}:00
                    -}
                span.caret
            .select
                select(id="toHour", name="toHour")
                    option(value="" disabled=true selected=true) Sluttid
                    -for(var i = 0;i<23;i++){
                    option(value="#{i}") #{i}:00
                    -}
                span.caret
            .select
                select(id="parameterDropDown", name="parameter")
                    option(value="timeseries.temp") Temperatur
                    option(value="timeseries.oxygene") Oksygen
                    option(value="timeseries.salt") Salt
                    option(value="timeseries.turbidity") Turbiditet
                    option(value="timeseries.fluorescens") Fluorescens
                    option(value="airtemp") Lufttemperatur
                span.caret
            .select
                select(id="howMuchDataDropDown" name="howMuchDataDropDown")
                    option(value="allData") Alle målinger
                    option(value="24hourAverage") Gjennomsnitt døgn
                    option(value="weeklyAverage") Gjennomsnitt uke
                    option(value="monthlyAverage") Gennomsnitt måned
                    option(value="yearlyAverage") Gjennomsnitt år
                span.caret
            .select
                select(id="depthDropDown", name="depthDropDown" onchange="changedBox('depthFrom','depthTo',id);")
                    option(value="allDepths") Alle dybder
                    option(value="VerticalAverage") Vertikalt gjennomsnitt
                    option(value="depthBetween") Dybde mellom
                span.caret
            .select
                select(id="depthFrom", name="depthFrom" disabled=true)
                    option(value="" disabled=true selected=true) Dybde fra
                    -for(var i = 0.5;i<19;i++){
                    option(value="#{i}") #{i}m
                    -}
                span.caret
            .select
                select(id="depthTo", name="depthTo" disabled=true)
                    option(value="" disabled=true selected=true) Dybde til
                    -for(var i = 0.5;i<19;i++){
                    option(value="#{i}") #{i}m
                    -}
                span.caret

            button.btn.btn-default(type="default" onclick="acceptButtonHit();" id="acceptButton")
                +icon("ok")
                | OK
            +modal("Last ned fil", "downloadModal")
                +input("text", "fileNameIn", "Filnavn", "Filnavn")
                button.btn.btn-default(type="default" onclick="saveFileHit();" id="saveButton")
                    +icon("download")
                    | Last ned
                button.btn.btn-default(type="default" id="clipboardButton" onclick='copyButtonHit();')
                    +icon("copy")
                    | Kopier til utklippstavle

            +modal("Test", "errorModal")
                p Test
            script.
                var queryString = "";
                function getStringFromBackEnd(stringIn) {
                    queryString = stringIn;
                    $('#downloadModal').modal('show');
                }

                function showError(title, error) {
                    $('#errorModal').on('show.bs.modal', function (event) {
                        var modal = $(this);
                        modal.find('.modal-title').text(title);
                        modal.find('.modal-body').text(error);
                    })
                    $('#errorModal').modal('show');
                }

                function saveFileHit() {
                    var filename = fileNameIn.value;
                    var FileDownload = new Blob([queryString], {type: "text/plain;charset=utf-8"});
                    saveAs(FileDownload, filename + ".txt");
                    fileNameIn.value = "";
                }

                function copyButtonHit() {
                    clipboard.copy(queryString);
                }

                $('input[name="startdato"]').daterangepicker({
                    "singleDatePicker": true,
                    "timePicker": true,
                    "timePicker24Hour": true,
                    "locale": {
                        "format": "MM/DD/YYYY",
                        "separator": " / ",
                        "applyLabel": "OK",
                        "cancelLabel": "Avbryt",
                        "fromLabel": "Fra",
                        "toLabel": "Til",
                        "customRangeLabel": "Custom",
                        "weekLabel": "UkeNr",
                        "daysOfWeek": [
                            "Søn",
                            "Man",
                            "Tir",
                            "Ons",
                            "Tor",
                            "Fre",
                            "Lør"
                        ],
                        "monthNames": [
                            "Januar",
                            "Februar",
                            "Mars",
                            "April",
                            "Mai",
                            "Juni",
                            "Juli",
                            "August",
                            "September",
                            "Oktober",
                            "November",
                            "Desember"
                        ],
                        "firstDay": 1
                    },
                    "startDate": "11/19/2016",
                    "endDate": "11/16/2016"
                }, function (start, end, label) {
                    showError("test", "Kjør: " + $(this).val(start.startDate.format('MM/DD/YYYY')));
                    console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')");
                });