extends layout

append body
    link(rel='stylesheet' href='/stylesheets/style.css')
    script(type='text/javascript' src='/javascripts/choicesActions.js')
    script(type='text/javascript' src='/javascripts/file-saver/FileSaver.js')
    script(type='text/javascript' src='/javascripts/clipboard-js/clipboard.js')

    script(type='text/javascript' src='//cdn.jsdelivr.net/jquery/1/jquery.min.js')
    script(type='text/javascript' src='//cdn.jsdelivr.net/momentjs/latest/moment.min.js')
    link(rel="stylesheet" href='//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css')

    script(type='text/javascript' src='//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js')
    link(rel="stylesheet" href='//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css')

    script(type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')

    .starter-template
        .container
            h1 Ekte Data
            p.lead
                | Fyll ut informasjon og trykk på OK
                br
                | Fyll deretter ut ønsket filnavn, og trykk på Last ned
            .section
                .sectionInput
                    +input("text", "fromDate", "DD/MM/YYYY", "Startdato", "startdato")
                .sectionInput
                    +input("text", "toDate", "DD/MM/YYYY", "Sluttdato", "sluttdato")
            .infobutton
                button.btn.btn-default(type="button",aria-label="#{info-sign}", title="Datoinformasjon", data-toggle="popover" ,data-trigger="hover",data-content="test")
                    +icon("info-sign")

            .select
                select(id="parameterDropDown", name="parameter",title="Datoinformasjon", data-toggle="popover" ,data-trigger="hover",data-content="test")
                    option(value="" selected=true disabled=true) Parameter
                    option(value="timeseries.temp") Temperatur
                    option(value="timeseries.oxygene") Oksygen
                    option(value="timeseries.salt") Salt
                    option(value="timeseries.turbidity") Turbiditet
                    option(value="timeseries.fluorescens") Fluorescens
                    option(value="airtemp") Lufttemperatur
                span.caret
            .select
                select(id="howMuchDataDropDown" name="howMuchDataDropDown" onchange="changedBox2('fromHour','toHour',id);")
                    option(value="" selected=true disabled=true) Type data
                    option(value="allData") Alle målinger
                    option(value="24hourAverage") Gjennomsnitt døgn
                    option(value="weeklyAverage") Gjennomsnitt uke
                    option(value="monthlyAverage") Gennomsnitt måned
                    option(value="yearlyAverage") Gjennomsnitt år
                span.caret
            .select
                select(id="fromHour", name="fromHour" disabled=true)
                    option(value="0" disabled=true selected=true) Starttid
                    -for(var i = 0;i<24;i++){
                    option(value="#{i}") #{i}:00
                    -}
                span.caret
            .select
                select(id="toHour", name="toHour" disabled=true)
                    option(value="23" disabled=true selected=true) Sluttid
                    -for(var i = 0;i<24;i++){
                    option(value="#{i}") #{i}:00
                    -}
                span.caret
            .select
                select(id="depthDropDown", name="depthDropDown" onchange="changedBox('depthFrom','depthTo',id);")
                    option(value="" selected=true disabled=true) Dybder
                    option(value="allDepths") Alle dybder
                    option(value="VerticalAverage") Vertikalt gjennomsnitt
                    option(value="depthBetween") Dybde mellom
                span.caret
            .select
                select(id="depthFrom", name="depthFrom" disabled=true)
                    option(value="" disabled=true selected=true) Dybde fra
                    -for(var i = 0.5;i<19;i++){
                    option(value="#{i}") #{i}m
                    -}
                span.caret
            .select
                select(id="depthTo", name="depthTo" disabled=true)
                    option(value="" disabled=true selected=true) Dybde til
                    -for(var i = 0.5;i<19;i++){
                    option(value="#{i}") #{i}m
                    -}
                span.caret

            button.btn.btn-default(type="default" onclick="acceptButtonHit();" id="acceptButton")
                +icon("ok")
                | OK
            +modal("Last ned fil", "downloadModal")
                +input("text", "fileNameIn", "Filnavn", "Filnavn")
                button.btn.btn-default(type="default" onclick="saveFileHit();" id="saveButton")
                    +icon("download")
                    | Last ned
                button.btn.btn-default(type="default" id="clipboardButton" onclick='copyButtonHit();')
                    +icon("copy")
                    | Kopier til utklippstavle

            +modal("Error", "errorModal")
                p Error


            script.
                var queryString = "";
                function getStringFromBackEnd(stringIn) {
                    queryString = stringIn;
                    $('#downloadModal').modal('show');
                }

                function showError(title, error) {
                    $('#errorModal').on('show.bs.modal', function (event) {
                        var modal = $(this);
                        modal.find('.modal-title').text(title);
                        modal.find('.modal-body').text(error);
                    })
                    $('#errorModal').modal('show');
                }

                function saveFileHit() {
                    var filename = fileNameIn.value;
                    var FileDownload = new Blob([queryString], {type: "text/plain;charset=utf-8"});
                    saveAs(FileDownload, filename + ".txt");
                    fileNameIn.value = "";
                }

                function copyButtonHit() {
                    clipboard.copy(queryString);
                }


                $(document).ready(function () {
                    $('[data-toggle="popover"]').popover();
                });

                $('input[id="fromDate"]').daterangepicker({
                    "singleDatePicker": true,
                    "timePicker": false,
                    "timePicker24Hour": false,
                    "locale": {
                        "format": "DD/MM/YYYY",
                        "separator": " / ",
                        "applyLabel": "OK",
                        "cancelLabel": "Avbryt",
                        "fromLabel": "Fra",
                        "toLabel": "Til",
                        "customRangeLabel": "Custom",
                        "weekLabel": "UkeNr",
                        "daysOfWeek": [
                            "Søn",
                            "Man",
                            "Tir",
                            "Ons",
                            "Tor",
                            "Fre",
                            "Lør"
                        ],
                        "monthNames": [
                            "Januar",
                            "Februar",
                            "Mars",
                            "April",
                            "Mai",
                            "Juni",
                            "Juli",
                            "August",
                            "September",
                            "Oktober",
                            "November",
                            "Desember"
                        ],
                        "firstDay": 1
                    },
                }, function (start, end, label) {
                });


                $('input[id="toDate"]').daterangepicker({
                    "singleDatePicker": true,
                    "timePicker": false,
                    "timePicker24Hour": false,
                    "locale": {
                        "format": "DD/MM/YYYY",
                        "separator": " / ",
                        "applyLabel": "OK",
                        "cancelLabel": "Avbryt",
                        "fromLabel": "Fra",
                        "toLabel": "Til",
                        "customRangeLabel": "Custom",
                        "weekLabel": "UkeNr",
                        "daysOfWeek": [
                            "Søn",
                            "Man",
                            "Tir",
                            "Ons",
                            "Tor",
                            "Fre",
                            "Lør"
                        ],
                        "monthNames": [
                            "Januar",
                            "Februar",
                            "Mars",
                            "April",
                            "Mai",
                            "Juni",
                            "Juli",
                            "August",
                            "September",
                            "Oktober",
                            "November",
                            "Desember"
                        ],
                        "firstDay": 1
                    },
                }, function (start, end, label) {
                });