extends layout

append body
    link(rel='stylesheet' href='/stylesheets/style.css')
    script(type='text/javascript' src='/javascripts/choicesActions.js')
    script(type='text/javascript' src='/javascripts/file-saver/FileSaver.js')
    script(type='text/javascript' src='/javascripts/clipboard-js/clipboard.js')
    .starter-template
        .container
            h1 Ekte data
            p.lead
                | Fyll ut informasjon og trykk på OK
                br
                | Fyll deretter ut ønsket filnavn, og trykk på Last ned
            .section
                .sectionInput
                    +input("text", "fromDate", "HH/DD/MM/YY", "Startdato")
                .sectionInput
                    +input("text", "toDate", "HH/DD/MM/YY", "Sluttdato")
            .section
                .select
                    select(id="parameterDropDown", name="parameter")
                        option(value="" disabled=true ) Parameter
                        option(value="timeseries.temp" selected=true) Temperatur
                        option(value="timeseries.oxygene") Oksygen
                        option(value="timeseries.salt") Salt
                        option(value="timeseries.turbidity") Turbiditet
                        option(value="timeseries.fluorescent") Fluorescens
                        option(value="airtemp") Lufttemperatur
                    span.caret
                .select
                    select(id="howMuchDataDropDown" name="howMuchDataDropDown")
                        option(value="" disabled=true) How much data
                        option(value="allData" selected=true) All data
                        option(value="24hourAverage") Gjennomsnitt døgn
                        option(value="weeklyAverage") Gjennomsnitt uke
                        option(value="monthlyAverage") Gennomsnitt måned
                        option(value="yearlyAverage") Gjennomsnitt år
                    span.caret
            .select
                select(id="depthDropDown", name="depthDropDown" onchange="changedBox('depthFrom','depthTo',id);")
                    option(value="" disabled=true) Dybdetype
                    option(value="allDepths" selected=true) Alle dybder
                    option(value="VerticalAverage") Vertikalt snitt
                    option(value="depthBetween") Dybde mellom
                span.caret
            .select
                select(id="depthFrom", name="depthFrom" disabled=true)
                    option(value="" disabled=true selected=true) Dybde fra
                    -for(var i = 0.5;i<19;i++){
                    option(value="#{i}") #{i}
                    -}
                span.caret
            .select
                select(id="depthTo", name="depthTo" disabled=true)
                    option(value="" disabled=true selected=true) Dybde til
                    -for(var i = 0.5;i<19;i++){
                    option(value="#{i}") #{i}
                    -}
                span.caret

            button.btn.btn-default(type="default" onclick="acceptButtonHit();" id="acceptButton" data-toggle="modal" data-target="#downloadModal")
                +icon("ok")
                | OK
            +modal("Last ned fil", "downloadModal")
                +input("text", "fileNameIn", "Filnavn", "Filnavn")
                button.btn.btn-default(type="default" onclick="saveFileHit();" id="saveButton")
                    +icon("download")
                    | Last ned
                button.btn.btn-default(type="default" id="clipboardButton" onclick='copyButtonHit();')
                    +icon("copy")
                    | Kopier
            script.
                fromDate.value = "12/01/08/16";
                toDate.value = "12/02/08/16";

                var queryString = "";
                function getStringFromBackEnd(stringIn) {
                    queryString = stringIn;
                }

                function saveFileHit() {
                    var filename = fileNameIn.value;
                    var FileDownload = new Blob([queryString], {type: "text/plain;charset=utf-8"});
                    saveAs(FileDownload, filename + ".txt");
                    fileNameIn.value = "";
                }

                function copyButtonHit() {
                    clipboard.copy(queryString);
                }

